.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__option {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header__optionLineOne {
  font-size: 20px;
  color: white;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
